<nav
  class="flex flex-col bg-gray-200 text-black w-64 relative min-h-screen list-none select-none"
>
  <li class="flex items-center pl-12 py-5 select-none">
    <img src="assets/unknown-avatar.svg" alt="logo" class="w-14 h-14 mr-3" />
    <h2 class="text-[17px]">Net Disk</h2>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/disk"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img src="assets/nav-disk.svg" alt="disk" class="fill-white w-6 h-6 mr-5" />
    <a class="cursor-pointer">Мой Диск</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/account"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img
      src="assets/nav-account.svg"
      alt="shared"
      class="fill-white w-6 h-6 mr-5"
    />
    <a class="cursor-pointer">Аккаунт</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/search"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img src="assets/nav-search.svg" alt="search" class="w-6 h-6 mr-5" />
    <a class="cursor-pointer">Поиск</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/favorite"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img
      src="assets/nav-favorite.svg"
      alt="favorite"
      class="fill-white w-6 h-6 mr-5"
    />
    <a class="cursor-pointer">Избранное</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/shared"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img
      src="assets/nav-shared.svg"
      alt="shared"
      class="fill-white w-6 h-6 mr-5"
    />
    <a class="cursor-pointer">Общий Доступ</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/cart"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img
      src="assets/nav-cart.svg"
      alt="shared"
      class="fill-white w-6 h-6 mr-5"
    />
    <a class="cursor-pointer">Корзина</a>
  </li>
  <li
    class="flex items-center pl-12 py-5 hover:bg-gray-300 transition-colors ease-in cursor-pointer"
    routerLink="/drive/help"
    routerLinkActive="bg-blue-200 hover:!bg-blue-200"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img
      src="assets/nav-help.svg"
      alt="shared"
      class="fill-white w-6 h-6 mr-5"
    />
    <a class="cursor-pointer">Помощь</a>
  </li>
</nav>
